/* - - - - - BODY STYLES - - - - -  */
body {
  margin: 0px;
  padding: 0px;
  width: 100%;
  min-width: 250px;
  background-color: rgb(255, 255, 255);
}

/* - - - - - GENERAL CLASSES - - - - -  */
.no_text_decor a {
  text-decoration: none;
}

.align_center {
  text-align: center;
}

/* - - - - - NAVIGATION STYLES - - - - -  */
.navbar a {
  color: white;
}

.navbar a:hover {
  color: black;
}

.navbar li {
  padding-left: 20px;
}

#nav_links {
  margin-right: 0px;
}

#logo_image {
  height: 100%;
  width: 51%;
}

.navbar-brand {
  font-size: 1.6em;
  margin-top: -10px;
}

/* - - - - - HEADER STYLES - - - - - */
header {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.fa-paint-brush {
  font-size: 9em;
  margin-top: 60px;
}

#header_text {
  font-family: serif;
  font-style: italic;
  font-size: 8em;
  font-weight: 4em;
}

/* - - - - - ABOUT STYLES - - - - - */
#about_STYLES{
	margin-bottom: 60px;
}
#about_STYLES .row{
	margin-top: 30px;
}
#about_first_par{
	font-size: 1.2em;
}
#about_web_div, #about_art_div{
	margin-bottom: 20px;
	font-size: 1em;
}

/* - - - - - PORTFOLIO STYLES - - - - - */
#portfolio_wrapper{
	background-image: url("http://www.vectorportal.com/img_novi/s-free_vector_grunge_5226.jpg");
}
#portfolio_STYLES img{
  margin-bottom: 20px;
  border: solid 5px;
  width: 100%;
}

