/* - - - - - BODY STYLES - - - - -  */
body {
  margin: 0px;
  padding: 0px;
  width: 100%;
  min-width: 250px;
  background-color: rgb(255, 255, 255);
}

/* - - - - - GENERAL CLASSES - - - - -  */
.no-text-decor a {
  text-decoration: none;
}

.align-center {
  text-align: center;
}

/* - - - - - NAVIGATION STYLES - - - - -  */
.navbar a {
  color: white;
}

.navbar a:hover {
  color: black;
}

.navbar li {
  padding-left: 20px;
}

#nav-links {
  margin-right: 0px;
}

#logo-image {
  height: 100%;
  width: 51%;
}

.navbar-brand {
  font-size: 1.6em;
  margin-top: -10px;
}

/* - - - - - HEADER STYLES - - - - - */
header {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.fa-paint-brush {
  font-size: 9em;
  margin-top: 60px;
}

header .author-title {
 font-family: 'Martel Sans', Arial, Helvetica, sans-serif;
 font-weight: 400;
 font-size:4em
}

header .job-title {
  font-family: 'Martel Sans', Arial, Helvetica, sans-serif;
  font-weight: 200;
  font-size: 3em;
  letter-spacing: 2px;
 }

/* - - - - - ABOUT STYLES - - - - - */
#about-first-par{
	font-size: 1.2em;
}
#about-web-div, #about-art-div{
	margin-bottom: 20px;
	font-size: 1em;
}

/* - - - - - PORTFOLIO STYLES - - - - - */
#portfolio-wrapper{
	background-image: url("http://www.vectorportal.com/img-novi/s-free-vector-grunge-5226.jpg");
}

/* - - - - - CONTACT STYLES - - - - - */

/* - - - - - FOOTER STYLES - - - - - */
#contact-section{
	margin-bottom: 30px;
}
#footer-nav{
	margin-bottom: 0px;
	padding-top: 40px;
	padding-bottom: 10px;
}
.footer-content{
	text-align: center;
}
#footer-icons{
	word-spacing: 6em;
}
